{% extends 'base.html.twig' %}

{% block title %}Hello RaspController!{% endblock %}

{% set videoPath = "http://"~(user_ip == rasp.externIP or user_ip == "127.0.0.1" ? rasp.internIP : rasp.externIP)~":"~rasp.videoPort~"/stream.mp4" %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.css"
          integrity="sha512-Woz+DqWYJ51bpVk5Fv0yES/edIMXjj3Ynda+KWTIkGoynAMHrqTcDUQltbipuiaD5ymEo9520lyoVOo9jCQOCA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <div class="container px-4 mx-auto pt-24 space-y-8">
        <h1 class="text-5xl md:text-7xl font-extrabold pb-12 word-break text-center md:text-left">{{ rasp.title }}</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="col-span-1 relative">
                <img src="{{ vich_uploader_asset(rasp.raspPics[0], 'picFile') }}"
                     class="w-full blur-3xl absolute -z-10" alt="Last pic of {{ rasp.title }}">
                <div>
                    <div
                            id="raspStream"
                            class="block"
                            {{ stimulus_controller('videolive', {
                                livePath: videoPath,
                                userIp: user_ip,
                                externIp: rasp.externIP,
                                gifPath: path('app_single_rasp_gif', {'id': rasp.id}),
                                picPath: vich_uploader_asset(rasp.raspPics[0], 'picFile'),
                            }) }}
                    >
                        <div class="bg-pourpre py-2 px-6 relative rounded-t-xl inline-flex gap-2 w-full items-baseline">
                            <span class="relative flex h-3 w-3 self-center">
                                <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-pourpre-light opacity-75"></span>
                                <span class="relative inline-flex rounded-full h-3 w-3 bg-pourpre-light"></span>
                            </span>
                            <h2 class="text-xs text-pourpre-light">Live video</h2>
                        </div>
                        <video
                                {{ stimulus_target('videolive', 'video') }}
                                src="{{ videoPath }}"
                                class="w-full rounded-b-lg"
                                controls
                                autoplay
                                muted
                        ></video>
                        <img
                                {{ stimulus_target('videolive', 'image') }}
                                src="{{ vich_uploader_asset(rasp.raspPics[0], 'picFile') }}"
                                alt="Last pic of {{ rasp.title }}"
                                class="w-full hidden rounded-b-lg"
                        >
                        <div class="relative w-full grid grid-cols-2 pt-4 divide-x divide-gray-700">
                            <button
                                    {{ stimulus_target('videolive', 'firstButton') }}
                                    class="uppercase rounded-l-full bg-gray-900 hover:bg-gray-800 text-gray-300 hover:text-white text-xs p-4 duration-100">
                                WATCH THE PIC
                            </button>
                            <button
                                    {{ stimulus_target('videolive', 'secondButton') }}
                                    class="uppercase rounded-r-full bg-gray-900 hover:bg-gray-800 text-gray-300 hover:text-white text-xs p-4 duration-100">
                                WATCH THE DAY GIF
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-1 relative">
                <h2 class="text-3xl md:text-5xl font-bold pb-6 word-break text-center md:text-left">Last pictures
                    of {{ rasp.title }}</h2>
                <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
                    {% for rasppic in raspPics %}
                        <div
                                {{ app.user == rasp.author ? stimulus_controller('confirm-delete', {
                                    title: "Delete this pic ?",
                                    text: "Are you sure you want to delete this pic ?",
                                    icon: "warning",
                                    confirmationButtonText: "Delete",
                                    urlDelete: path('app_delete_rasp_pic', {'id': rasppic.id}),
                                }) }}
                        >
                            {{ include('_include/pic.html.twig', {
                                link: vich_uploader_asset(rasppic, 'picFile'),
                                pic: rasppic,
                                text: rasppic.createdAt|date('D, d M Y H:i:s'),
                            }) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox-plus-jquery.min.js"
            integrity="sha512-U9dKDqsXAE11UA9kZ0XKFyZ2gQCj+3AwZdBMni7yXSvWqLFEj8C1s7wRmWl9iyij8d5zb4wm56j4z/JVEwS77g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}